/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  list-style: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Norbert Breit';
  src: url('./src/fonts/NorbertBreit-Fett.otf');
  font-weight: 900;
}
@font-face {
  font-family: 'Norbert Breit';
  src: url('./src/fonts/NorbertBreit-Normal.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Norbert Breit';
  src: url('./src/fonts/NorbertBreit-Mager.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'Value Sans Pro';
  src: url('./src/fonts/ValueSansPro-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Value Sans Pro';
  src: url('./src/fonts/ValueSansPro-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Norbert Schmal';
  src: url('./src/fonts/NorbertSchmal-Fett.otf');
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Norbert Breit';
}

.container {
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #25262c;
  margin-bottom: 70px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 420px) {
  h2 {
    font-size: 26px;
  }
}

.main {
  height: 720px;
  background-color: #25262c;
}

@media (max-width: 768px) {
  .main {
    height: 453px;
  }
}

.main__wrapper {
  position: relative;
  height: 100%;
  background-image: url('./src/img/yastrebov.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 100px right 0;
}

@media (max-width: 992px) {
  .main__wrapper {
    background-position: bottom 200px right 0;
  }
}

@media (max-width: 768px) {
  .main__wrapper {
    background-position: bottom 150px right 0;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 510px) {
  .main__wrapper {
    background-position: bottom 200px right 0;
  }
}

@media (max-width: 375px) {
  .main__wrapper {
    background-position: bottom 230px right 0;
  }
}

.main__header {
  position: absolute;
  padding-top: 40px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .main__header {
    flex-direction: column;
    align-items: center;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    z-index: 100;
    padding: 30px;
    border-radius: 20px;
    background: rgba(37, 38, 44, 0.8);
    box-shadow: 30px 4px 60px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.5px);
  }
}

.main__body {
  position: relative;
}

.main__img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: luminosity;
  filter: drop-shadow(30px 4px 60px rgba(0, 0, 0, 0.4));
}

@media (max-width: 768px) {
  .main__img {
    top: -50px;
    max-width: 440px;
  }
}

.main__img-filter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .main__img-filter {
    top: -50px;
    max-width: 440px;
  }
}

.main__prof > div:last-child {
  font-weight: 400;
  font-size: 18px;
  line-height: 53px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

@media (max-width: 420px) {
  .main__prof > div:last-child {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
  }
}

.main__name {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main__name {
    justify-content: center;
  }
}

.main__name > span:first-child {
  font-weight: 900;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 15px;
}

.main__name > span:last-child {
  padding: 7px 15px;
  border: solid 1px #ffffff;
  border-radius: 50px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #a2e248;
}

.main__links > a {
  display: flex;
  align-items: center;
  padding: 5px 14px 5px 7px;
  border: solid 1px #ffffff;
  border-radius: 50px;
}

.main__links > a:first-child {
  margin-right: 20px;
}

@media (max-width: 420px) {
  .main__links > a:first-child {
    margin-right: 10px;
  }
}

.main__links > a > img {
  margin-right: 3px;
}

.main__links > a > span {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 420px) {
  .main__links > a > span {
    font-size: 12px;
  }
}

.main__links {
  display: flex;
}

.nav {
  padding-top: 70px;
  background-position: 75px;
}

@media (max-width: 576px) {
  .nav {
    padding-top: 40px;
    background-position: 28px;
  }
}

.nav__wrapper > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 476px) {
  .nav__wrapper > ul {
    flex-direction: column;
    border: solid 1px #e3e0eb;
    padding: 24px;
    border-radius: 20px;
  }
}

.nav__wrapper > ul > li:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 768px) {
  .nav__wrapper > ul > li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .nav__wrapper > ul > li:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 476px) {
  .nav__wrapper > ul > li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.nav__wrapper > ul > li > a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #25262c;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 576px) {
  .nav__wrapper > ul > li > a {
    font-size: 14px;
  }
}

.nav__wrapper > ul > li > a:hover {
  opacity: 0.6;
}

.work {
  padding-top: 75px;
  padding-bottom: 150px;
}

@media (max-width: 576px) {
  .work {
    padding-top: 28px;
    padding-bottom: 56px;
  }
}

.work__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__bord {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

@media (max-width: 1080px) {
  .work__bord {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .work__bord {
    margin-bottom: 32px;
  }
}

.work__item {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e3e0eb;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .work__item {
    padding: 24px;
  }
}

@media (max-width: 420px) {
  .work__item {
    padding-top: 16px;
  }
}

.work__info > h3 {
  margin-bottom: 20px;
}

@media (max-width: 1080px) {
  .work__info > h3 {
    max-width: 510px;
  }
}

@media (max-width: 576px) {
  .work__info > h3 {
    margin-bottom: 16px;
  }
}

h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 53px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #383942;
}

@media (max-width: 576px) {
  h3 {
    font-size: 20px;
    line-height: 45px;
  }
}

@media (max-width: 420px) {
  h3 {
    font-size: 16px;
    line-height: 38px;
  }
}

.work__stack {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  .work__stack {
    gap: 8px;
    margin-bottom: 32px;
  }
}

.work__stack > span {
  font-family: 'Value Sans Pro';
  padding: 4px 15px;
  background: #f7f6f9;
  border-radius: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #888888;
}

@media (max-width: 576px) {
  .work__stack > span {
    padding: 4px 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #888888;
  }
}

.work__links {
  display: flex;
  align-items: center;
}

.work__links > a {
  display: flex;
  align-items: center;
  border: 1px solid #25262c;
  border-radius: 50px;
  padding: 10px 15px 10px 10px;
}

@media (max-width: 576px) {
  .work__links > a {
    padding: 8px 12px 8px 8px;
  }
}

.work__links > a:not(:last-child) {
  margin-right: 10px;
}

.work__links > a > img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

@media (max-width: 576px) {
  .work__links > a > img {
    margin-right: 4px;
    width: 18px;
    height: 18px;
  }
}

.work__links > a > span {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #25262c;
}

@media (max-width: 576px) {
  .work__links > a > span {
    font-size: 14px;
  }
}

.work__button {
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 30px;
  background-color: #25262c;
  border-radius: 50px;
}

@media (max-width: 420px) {
  .work__button {
    width: 100%;
  }
}

.skills {
  counter-reset: num;
  padding: 150px 0;
  background-color: #25262c;
}

@media (max-width: 576px) {
  .skills {
    padding: 56px 0;
  }
}

.skills__wrapper > h2 {
  color: #ffffff;
}

.skills__my {
  display: flex;
}

@media (max-width: 992px) {
  .skills__my {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

.skills__about {
  position: relative;
  max-width: 387px;
  width: 33.333%;
}

@media (max-width: 992px) {
  .skills__about {
    max-width: 400px;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .skills__about:last-child {
    margin-top: 130px;
  }
}

@media (max-width: 868px) {
  .skills__about {
    max-width: 500px;
    width: 100%;
  }
  .skills__about:last-child {
    margin-top: 0;
  }
}

.skills__about:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 992px) {
  .skills__about:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 868px) {
  .skills__about:not(:first-child) {
    margin-top: 100px;
  }
}

.skills__about > span {
  display: block;
  font-family: 'Value Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.08em;
  color: #ffffff;
  padding: 0 10px;
}

@media (max-width: 992px) {
  .skills__about > span {
    text-align: center;
  }
}

.skills__about::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: #888888;
  bottom: -30px;
  left: 0;
}

.skills__about::before {
  counter-increment: num;
  content: counter(num);
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #25262c;
  border: solid 1px #888888;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Norbert Schmal';
  font-weight: 900;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #a2e248;
  z-index: 10;
}

.skills__list {
  padding: 200px 0 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  .skills__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .skills__list {
    padding: 112px 0 56px 0;
  }
}

.skills__item {
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #25262c;
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 50px;
}

@media (max-width: 576px) {
  .skills__item {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
  }
}

.skills__soft {
  display: flex;
}

@media (max-width: 1080px) {
  .skills__soft {
    display: block;
  }
}

.skills__soft > div:first-child {
  font-weight: 900;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #a2e248;
  margin-right: 60px;
  padding-top: 2px;
}

@media (max-width: 1080px) {
  .skills__soft > div:first-child {
    margin-right: 0;
    padding-top: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 630px) {
  .skills__soft > div:first-child {
    text-align: center;
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .skills__soft > div:first-child {
    margin-bottom: 24px;
  }
}

.skills__soft > div:last-child {
  font-weight: 300;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 790px;
}

@media (max-width: 1080px) {
  .skills__soft > div:last-child {
    max-width: none;
  }
}

@media (max-width: 630px) {
  .skills__soft > div:last-child {
    text-align: center;
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .skills__soft > div:last-child {
    font-size: 24px;
    line-height: 46px;
  }
}

@media (max-width: 390px) {
  .skills__soft > div:last-child {
    font-size: 20px;
    line-height: 42px;
  }
}

.skills__soft > div:last-child > span {
  font-weight: 900;
  color: #a2e248;
}

.exp {
  padding: 150px 0;
}

@media (max-width: 576px) {
  .exp {
    padding: 56px 0;
  }
}

.exp__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .exp__content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.exp__card {
  padding: 40px;
  background-color: #f7f6f9;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .exp__card {
    padding: 24px;
  }
}

.exp__card > h3 {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .exp__card > h3 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.exp__card > p {
  font-family: 'Value Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.08em;
  color: #25262c;
}

.exp__pl1 {
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .exp__pl1 {
    margin-bottom: 12px;
  }
}

.exp__pl1 > a {
  font-weight: 900;
  color: #25262c;
  text-decoration: underline;
}

.exp__pl2 {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .exp__pl2 {
    margin-bottom: 20px;
  }
}

.exp__pl3 {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .exp__pl3 {
    margin-bottom: 20px;
  }
}

.me {
  padding-top: 150px;
  background-color: #25262c;
}

@media (max-width: 576px) {
  .me {
    padding-top: 56px;
  }
}

.me__wrapper > h2 {
  color: #ffffff;
}

.me__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 590px;
}

@media (max-width: 1200px) {
  .me__about {
    height: auto;
  }
}

@media (max-width: 768px) {
  .me__about {
    display: flex;
    flex-direction: column;
  }
}

.me__main {
  width: 100%;
  padding: 50px;
  border-radius: 10px;
  background-color: #383942;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .me__main {
    order: 2;
  }
}

@media (max-width: 576px) {
  .me__main {
    padding: 30px;
  }
}

.me__photo {
  position: relative;
  padding: 50px;
  border-radius: 10px;
  background-color: #383942;
}

@media (max-width: 768px) {
  .me__photo {
    height: 500px;
    order: 1;
  }
}

@media (max-width: 576px) {
  .me__photo {
    height: 350px;
  }
}

.me__photo > img:first-child {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: luminosity;
  z-index: 100;
}

@media (max-width: 1200px) {
  .me__photo > img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.me__photo > img:last-child {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.me__info {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .me__info {
    padding: 56px 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

.me__item {
  position: relative;
  padding: 30px;
  background-color: #383942;
  border-radius: 10px;
  font-family: 'Value Sans Pro';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.08em;
  color: #ffffff;
}

@media (max-width: 992px) {
  .me__item {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .me__item {
    padding-left: 40px;
  }

  .me__item::before {
    content: '';
    position: absolute;
    height: 50%;
    width: 2px;
    border-radius: 4px;
    background-color: #a2e248;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.me__tenchat {
  position: relative;
  padding: 50px;
  border-radius: 10px;
  background-color: #a2e248;
  height: 341px;
}

@media (max-width: 768px) {
  .me__tenchat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 630px) {
  .me__tenchat {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .me__tenchat {
    height: auto;
    padding: 30px;
  }
}

.me__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 85px;
  max-width: 540px;
  display: block;
}

@media (max-width: 768px) {
  .me__title {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .me__title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .me__title {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 40px;
  }
}

.me__tenchat > a {
  position: relative;
  font-weight: 900;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #25262c;
  border-radius: 50px;
  padding: 15px 45px;
  z-index: 2;
}

.me__tenchat > img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

@media (max-width: 992px) {
  .me__tenchat > img {
    opacity: .5;
  }
}

@media (max-width: 768px) {
  .me__tenchat > img {
    opacity: .3;
  }
}

@media (max-width: 630px) {
  .me__tenchat > img {
    display: none;
  }
}

.footer {
  padding: 50px 0;
  background-color: #25262c;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 490px) {
  .footer__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .footer__wrapper > div {
    margin-bottom: 32px;
  }
}

.footer__wrapper > a {
  display: flex;
  align-items: center;
  padding: 5px 14px 5px 7px;
  border: solid 1px #ffffff;
  border-radius: 50px;
}

.footer__wrapper > a > img {
  margin-right: 3px;
}

.footer__wrapper > a > span {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (max-width: 420px) {
  .footer__wrapper > a > span {
    font-size: 12px;
  }
}